<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  >
  <title>开发者中心-控制台</title>
  <% include /templates/css-externals %>
  <script>
    function resize() {
      var layoutWidth = document.documentElement.clientWidth
        || document.body.clientWidth;
      layoutWidth = layoutWidth > 1600 ? 1600 : layoutWidth;
      var fontSize = layoutWidth / 1600 * 100;
      document.documentElement.style.fontSize = fontSize + 'px';
    }
    resize();
    window.addEventListener('resize', resize);
  </script>
</head>

<body>
<div id="content"></div>
<script
  type="text/javascript"
  src='//design.yonyoucloud.com/static/yonyouyun/echarts.min.js'
></script>
<% include /templates/externals %>

<script type="text/javascript">

</script>
</body>

</html>
