.credit-wraps {
	padding:20px 40px;
	background: #fff;	

	.u-table-thead {
		border:none;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		font-size: 14px;
	}

	.u-table td, .u-table th {
	    padding: 12px 8px;
	}
}

.rc-calendar-picker {
	z-index: 1702!important;
}

.credit-modal-datePicker {
	width: 100%!important;
}

.credit-title {
	padding: 0px 20px;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;	
}

.credit-icon {
	font-size: 12px;
}

.pdl6 {
	padding-left: 6px;
}
.fr {
	float: right;
}

.leftWrap {
	width: 30%; 
	padding: 40px;
	height: 100%; 
	float: left;
}

.item-credit {
	display: flex;
	justify-content: space-between;

	.u-button {
		padding: .3rem 1.5rem;
	}

	.credit-search {
		margin-top: 10px;
	}
}

.fl {
	float: left;
}

.credit-modal {
	padding:10px 50px;

	li {
		height: 60px;
		line-height: 60px;
		width: 100%;
		clear: both;

		.credit-modal-title {
			width: 100px;
			color: #333;
			text-align: right;
			padding-right: 20px;
		}

		.u-form-control {
			width: calc(~"100% - 102px");
			margin-top:16px;
		}

		.u-form-group {
			margin: 0;
		}
	}
}

.mgt20 {
	margin-top: 20px;
}

.credit-row-operations {
	display: flex;
	width: 80px;
	height: 100%;	

	.row-operations-item {
		flex: 1;
		cursor: pointer;
	}

	.row-operations-actions {
		position: relative;

		.u-button-group-vertical {
			position: absolute;
		}
	}
}


.credit-tooltip {
	display: inline-block;
	margin: 20px 10px;

	&.u-tooltip {
		opacity: .4;
	}
}

.credit-status {
	.icon-correct {
		color: #1e88e5;
		font-size: 12px;
	}

	.icon-close {
		color: #DA4345;
		font-size: 12px;
	}
}

.credit-search{
  	position: relative;
  	.uf-search{
    	cursor: pointer;
  	}
	.uf{
	    position: absolute;
	    right: 5px;
	    top: 0;
	    height: 30px;
	    line-height: 30px;
	    width: 25px;
	}
}

.total-page {
	display: inline-block;
	padding:6px;

	i {
		font-style: normal;
	}
}