<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- 解决ie请求缓存问题 -->
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="-1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>开发者中心-持续集成</title>
  <% include /templates/css-externals %>
  <link href="//cdn.bootcss.com/codemirror/5.25.0/codemirror.min.css" rel="stylesheet">

</head>
<body>
<div id="content" class="u-container-fluid"></div>
<script src="//cdn.bootcss.com/codemirror/5.25.0/codemirror.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/search/search.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/comment/comment.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/fold/brace-fold.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/keymap/sublime.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/codemirror/5.30.0/mode/properties/properties.js"></script>

<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/edit/matchbrackets.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/codemirror/5.30.0/mode/clike/clike.js"></script>

<% include /templates/externals %>

<script type="text/javascript">

</script>
</body>
</html>
