.u-modal-title{
    font-weight: normal;
}
.u-popconfirm .u-popconfirm-confirm .u-button{
    height: 30px;
    border-radius: 0;
}
.u-modal-footer{
    text-align: center;
    margin-bottom: 50px;
}
.u-modal-header{
    padding-top: 30px;
    padding-left: 30px;
}