.default-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/default.png');
    background-size: cover;
}

.alpinelinux-png{
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/alpine.png');
    background-size: cover;
}
.bash-png{
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/bash.png');
    background-size: cover;
}
.buildpack-deps-png{
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/buildpack-deps.png');
    background-size: cover;
}
.busybox-png{
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/busybox.png');
    background-size: cover;
}
.centos-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/centos.png');
    background-size: cover;
}
.debian-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/debian.png');
    background-size: cover;
}
.docker-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/docker.png');
    background-size: cover;
}

.elasticsearch-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/elasticsearch.png');
    background-size: cover;
}

.fedora-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/fedora.png');
    background-size: cover;
}
.golang-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/golang.png');
    background-size: cover;
}
.haproxy-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/haproxy.png');
    background-size: cover;
}
.hello-world-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/hello_world.png');
    background-size: cover;
}
.httpd-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/httpd.png');
    background-size: cover;
}
.java-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/java.png');
    background-size: cover;
}

.jenkins-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/jenkins.png');
    background-size: cover;
}
.jetty-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/jetty.png');
    background-size: cover;
}
.jre-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/jre.png');
    background-size: cover;
}
.kibana-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/kibana.png');
    background-size: cover;
}
.logstash-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/logstash.png');
    background-size: cover;
}
.memcached-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/memcached.png');
    background-size: cover;
}
.mongodb-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/mongodb.png');
    background-size: cover;
}
.mysql-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/mysql.png');
    background-size: cover;
}

.nginx-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/nginx.png');
    background-size: cover;
}

.nodejs-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/nodejs.png');
    background-size: cover;
}
.openjdk-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/openjdk.png');
    background-size: cover;
}
.oraclelinux-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/oraclelinux.png');
    background-size: cover;
}
.php-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/php.png');
    background-size: cover;
}
.postgresql-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/postgres.png');
    background-size: cover;
}

.python-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/python.png');
    background-size: cover;
}

.rabbitmq-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/rabbitmq.png');
    background-size: cover;
}

.redis-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/redis.png');
    background-size: cover;
}

.registry-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/registry.png');
    background-size: cover;
}
.ruby-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/ruby.png');
    background-size: cover;
}
.solr-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/solr.png');
    background-size: cover;
}
.sonarqube-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/sonarqube.png');
    background-size: cover;
}
.swarm-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/swarm.png');
    background-size: cover;
}


.tomcat-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/tomcat.png');
    background-size: cover;
}

.ubuntu-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/ubuntu.png');
    background-size: cover;
}

.wordpress-png {
    width: 100px;

    height: 100px;
    background: url('../assets/img/image_cata/wordpress.png');
    background-size: cover;
}

.zookeeper-png {
    width: 100px;
    height: 100px;
    background: url('../assets/img/image_cata/zookeeper.png');
    background-size: cover;
}
.image-icon-bg{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 0;
}
.image-icon-bg i{
    font-size: 80px;
    color: #fff;
}

