
.item {
    width: 100%;
    box-sizing: border-box;
}
.WidgetTitle{
    height: 50px;
    line-height: 50px;
    color:rgba(136,136,136,1);
    display: -webkit-box;
    justify-content: center;
    align-items: center;
}
.WidgetTitle>div:first-child{
    -webkit-box-flex: 1;
    text-align: left;
}

.edit_cont{
    display: -webkit-box;
}
.form_control{
    -webkit-box-flex:1;
    width: 200px;
}
.save_btn{
    -webkit-box-flex:1;
    width: 60px;
    margin:0 10px 0 20px;
}
.close_btn{
    -webkit-box-flex:1;
    width: 60px;
}
.WidgetList {
  list-style: none;
  overflow: hidden;
}
