html, body{
    height: 100%;
}
#content{
    height: 100%;
}

.mrp {
    padding-bottom: 40px;
    height: 100%;
}
.main-e{
    height: 100%;
}
.mrp .head{
    background: #fff;
}

.mrp p {
    margin: 0;
    padding: 0;
}

.mrp .content {
    position: relative;
    top: 0;
    padding-left: 40px;
    padding-right: 40px;
    background: #f4f4f4;
    padding-bottom: 20px;
    width: 100%;
    margin-left: 0;
}

.mrp .content .no-allowed,.mrp .content .no-allowed .u-switch,.mrp .content .no-allowed .u-switch:after{
    cursor: not-allowed;
}
.margin-bottom-change{
    margin-top: 2rem;
}

.mrp .content span.switch .u-switch{
    width: 3.3rem;
    height: 1.9rem;
}

.mrp .content span.switch .u-switch:after{
    width: 1.5rem;
    height: 1.5rem
}

.mrp .content span.switch .u-switch.is-checked:after{
    left: 1.7rem
}

.mrp .head, .buy-e .head, .main-e .head, .add-p .head {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 10px;
    box-shadow: 0 2px 3px #d3d3d3;
    z-index: 2;
    position: relative;
}
.mrp .head, .buy-e .head, .main-e .head, .add-p .head-zindex{
    z-index: 0;
}

.mrp .head button, .buy-e .head button, .add-p .head button {
    float: right;
    margin-top: 4px;
    background: #1787fb;
}

.mrp .u-col-md-6 {
    /*   padding-left: 20px;
       padding-top: 40px;
       padding-right: 20px;*/
}

.mrp .u-tile {
    padding-top: 2rem!important;
    margin-bottom:0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    border: none;
}

.mrp .u-tile .handle{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    color: #00B0FF;
    display: none;
}

.mrp .u-tile:hover span.handle{
    display: block;
}

.mrp .u-tile:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
}

.mrp .top, .mrp .middle, .mrp .process, .mrp .foot {
    padding-left: 40px;
    padding-right: 40px;
}

.mrp .no-host {
    height: 322px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 112px;
}

.mrp .no-host p:nth-of-type(1) {
    font-size: 16px;
    color: #666666;
}

.mrp .no-host p button {
    background: #1787fb;
    color: #fff;
    border-radius: 0;
    margin-top: 20px;
    min-width: 120px;
}

.mrp .top {
    border-bottom: 1px solid #d2d2d2;
    line-height: 5rem;
}

.mrp .top > span {
    height: 42px;
    line-height: 42px;
    margin-bottom: 15px;
}

.mrp .top .title {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: .5rem;
    vertical-align: top;
     max-width: 60%;
}
.mrp .top .switch {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: .5rem;
    vertical-align: top;
}
.mrp .foot a .switch {
     display: inline-block;
     font-size: 24px;
     margin-right: .5rem;
     vertical-align: middle;
 }
.mrp .top .default {
    display: inline-block;
    margin-top: 0.2rem;
    color: #8b8b8b;
    font-size: 1.2rem;
    vertical-align: top;
}

 .foot .default {
    display: inline-block;
    margin-top: 0.6rem;
    color: #8b8b8b;
    font-size: 1.2rem;
    vertical-align: middle;
}
.foot .switch {
   cursor: pointer;
}
.cursor-default{
    cursor: default;
}

.mrp .top .power {
    display: inline-block;
    float: right;
    color: #858585;
    cursor: pointer;
}

/*暂时隐藏权限管理*/
.mrp .top .power .powerM {
    opacity: 0;
    cursor: default;
}

.mrp .top .power .time span {
    background: #f7f7f7;
    border: 1px solid #cccccc;
    width: 2rem;
    height: 2.2rem;
    color: #f57323;
    font-size: 2.4rem;
    padding: .3rem;
}

.mrp .top .power .time span {
    margin-left: .8rem;
}
.mrp .top .power .time span:nth-last-child(1) {
    margin-right: .5rem;
}

.width-70-self{
    width:70%;
}
/*
.mrp .top .power .time span:nth-of-type(2) {
    margin-right: 10px;
}
*/
.mrp .top .power .time span.spanDay{
    border: none;
    font-size: 12px;
    color: #858585;
    background: #fff;
    margin-left: .5rem;

}

.mrp .top .power .powerM span {
    position: relative;
    bottom: 4px;
    font-size: 16px;
}

.mrp .top .power .powerM i {
    font-size: 2.3rem;
    margin-right: -8px;
}

.mrp .top .power .powerM:hover, .mrp .top .power .powerM:active {
    color: #008baf;
}

.mrp .middle {
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
}

.mrp .middle .left:nth-of-type(1) {
    border-right: 1px solid #e6e6e6;
    margin-right: -1px;
}

.mrp .middle .left:nth-of-type(2) {
    border-right: 1px solid #e6e6e6;
    margin-right: -1px;
}
/*
.mrp .middle .left:nth-of-type(1) span:nth-of-type(2) {
    color: #DD3730;
}

.mrp .middle .left:nth-of-type(2) span:nth-of-type(2) {
    color: #008BFA;
}

.mrp .middle .left:nth-of-type(3) span:nth-of-type(2) {
    color: #00BC9B;
}*/
.rqColor{
    color: #DD3730;
}

.cpuColor{
    color: #00BC9B;
}
.hostColor{
    color: #008BFA;
}

.mrp .middle .left:nth-of-type(2) {
    padding-left: 40px;
}

.mrp .middle .left:nth-of-type(3) {
    padding-left: 40px;
}

.mrp .middle .left {
    /*width: 33.33%;
    float: left;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.mrp .middle .left span {
    display: block;
}

.mrp .middle .left span:nth-of-type(2) {
    font-size: 36px;
}

.mrp .middle .left span:nth-of-type(1) {
    font-size: 14px;
    color: #a8a59f;
}

.mrp .process {
    border-bottom: 1px solid #e6e6e6;
    height: 232px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.mrp .process .proDiv:nth-of-type(2){
    margin-top: 20px;
}

.mrp .process .proDiv .u-progress{
    border-radius: 0;
}

.mrp .process .proDiv.memory .u-progress-bar,.mrp .process .proDiv.memory .footer span:nth-of-type(1) i{
    background-color: #008BFA;
}

.mrp .process .proDiv.memory .process-title{
    color: #008BFA;
    font-weight: bold;
}

.mrp .process .proDiv.disk .u-progress-bar{
    background-color: #9178FF;
}
.mrp.process .proDiv.disk .footer span:nth-of-type(1) i{
    background-color: #9178FF;
}
.mrp .process .proDiv.disk .footer span:nth-of-type(1) i.no-disk{
    background-color: #f2f2f2;
}

.mrp .process .proDiv.disk .process-title{
    /*color: #9178FF;
    font-weight: bold;
    */
}

.mrp .process-top {
    text-align: right;
}

.mrp .process-top .process-title{
    float: left;
}

.mrp .process-top > span {
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    font-size: 12px;
}

.mrp .u-progress {
    height: 13px;
    margin-bottom: 0;
}

.mrp .u-progress .u-progress-bar-h {
    background-color: #2dc82d;
}

.mrp .u-progress .u-progress-bar-d {
    background-color: #008bfa;
}

.mrp .process .footer {
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
}

.mrp .process .footer>span{
    margin-left: 10px;
}

.mrp .process .footer>span:nth-of-type(1){
    margin-left: 0;
}

.mrp .foot{
    padding-left: 0;
    padding-right: 0;
}

.mrp .foot button , .mrp .foot a{
    background: #fff;
    width: 33.3%;
  /*  width: 50%;*/
    height: 50px;
    font-size: 14px;
    border-radius: 0;
    border-right: 1px solid #d2d2d2;
}

.mrp .foot button:nth-last-child(1) {
    border-right:none;
}

.mrp .foot button i {
    color: #00B0FF;
    font-size: 24px;
    position: relative;
    top: 4px;
}

.mrp .foot button:hover{
    background: #f7f7f7;
}

.mrp .square {
    background: #f2f2f2;
    border: 1px solid #d2d2d2;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}
.mrp .use-disk-square {
    background: #9178FF
}

.mrp .use-square {
    background: #008bfa;
}
.mrp .no-square {
    background: #f2f2f2;
}
.mrp .add-rp {
    text-align: center;
    height: 433px;
    cursor: pointer;
    font-size: 24px;
    color: #cccccc;
}

.mrp .add-rp .u-tile{
    height: 100%;
    line-height: 100%;
}

.mrp .add-rp span {
    position: relative;
    top: 136px;
}

.mrp .add-rp i {
    font-size: 60px;
    position: relative;
    top: 150px;
    margin-right: 20px;
}

.mrp .add-rp :hover, .mrp .add-rp :active {
    color: #008BFA;
}

.mrp .diamond{
    width: 80px;
    height: 80px;
    margin: 40px 0 0 40px;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: -64px;
    left: -41px;
    text-align: center;
    padding-top: 57px;
    color: #fff;
    font-size: 13px;
}
.mrp .diamond1 {
  background: #f57323;
}

.mrp .diamond2 {
  background: #0084ff;
}

.mrp .hidden {
    display: none;
}

.mrp .u-switch.is-checked {
    border-color: #55dc41;
    background-color: #55dc41;
}


/*新增*/
.mrp-add .u-modal-header {
    padding-top: 30px;
    padding-left: 50px;
}

.mrp-add .u-modal-title {
    font-weight: normal;
}

.mrp-add .u-modal-body {
    padding-left: 100px;
    padding-right: 100px;
}

.mrp-add .u-modal-body .u-form-group input.u-form-control {
    top: 10px;
}

.mrp-add .u-modal-footer {
    text-align: center;
    padding-bottom: 50px;
}

.mrp-add .u-modal-footer .u-button {
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0;
}

.mrp-add .u-modal-footer .u-button.u-button-primary {
    background-color: #0084ff;
    border-color: #0084ff;
}

/*新增成功*/
.mrp-success {
    padding: 50px;
    text-align: center;
}

.mrp-success .tip {
    font-size: 16px;
}

.mrp-success .into .second {
    color: #f57323;
}

/*无数据*/
.mrp .no-data {
    text-align: center;
    position: absolute;
    z-index: 2;
    background: #fff;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 100px;
}

.mrp .no-data .tip {
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
}

.mrp .no-data .btn {
    padding-left: 20px;
}

.mrp .no-data .btn button {
    margin-right: 30px;
    border-radius: 0;
    min-width: 120px;
    border: 1px solid #1787fb;
    background: #fff;
    color: #1787fb;
}

.mrp .no-data .btn button.u-button-info {
    background: #1787fb;
    color: #fff;
}

/*购买服务器*/
.buy-e .head .back, .main-e .head .back, .add-p .head .back {
    float: left;
    margin-left: 20px;
    color: #008bfa;
    cursor: pointer;
}

/*主机列表*/
.main-e, .add-p {
    background: #f4f4f4;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 20px;
}

.main-e .u-row, .add-p .u-row {
    margin-left: 0;
    margin-right: 0;
}

.main-e .main-e-table, .add-p .add-p-main {
    margin: 30px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 3px #d3d3d3;
}

.main-e .main-e-tb button {
    margin-right: 30px;
    border-radius: 0;
    border: 1px solid #1787fb;
    background: #fff;
    color: #1787fb;
}

.main-e .main-e-tb button.u-button-info {
    background: #1787fb;
    color: #fff;
}

.main-e .u-table .u-table-tbody tr td .uf-del {
    color: #0088fe;
    cursor: pointer;
}

.main-e .head, .add-p .head {
    background: #fff;
}

.main-e .main-e-table .u-table-placeholder {
    font-size: 20px;
}

.main-e .main-e-table .u-table {
    margin-top: 20px;
}

#content {
    height: 100%;
}

/*接入自有主机*/
.add-p .head {
    margin-left: 0;
    margin-right: 0;
}

.add-p .add-p-main ul li.title {
    font-size: 16px;
    color: #008bfa;
    margin-bottom: 25px;


}

.add-p .add-p-main ul li.title i {
    font-size: 35px;
    color: #e6e6e6;
    position: relative;
    top: 8px;
}

.add-p .add-p-main ul li.little-title {
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 45px;
    margin-bottom: 20px;
}

.add-p .add-p-main ul li.code {
    margin-left: 45px;
    background: #f4f4f4;
    padding-top: 9px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.add-p .add-p-main ul li.code p {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.add-p .add-p-main ul li.code .u-clipboard {
    float: right;
    cursor: pointer;
    color: #008bfa;
    font-size: 20px;
}

.add-p .add-p-main ul li.code-br {
    background: #272822;
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    max-height: 200px;
    overflow: auto;
    min-height: 100px;
}

.add-p .add-p-main ul li.code-br p.success {
    color: #66dc13;
}

.add-p .add-p-main ul li.code-br p.error {
    color: #f44336;
}

.add-p .add-p-main .foot {
    text-align: center;
    margin-top: 50px;
}

.add-p .add-p-main .foot button {
    margin-right: 20px;
    min-width: 150px;
    border-radius: 0;
    height: 36px;
}

.mrp-add .error{
    margin-top: 0;
    margin-bottom: 0;
}
.mrp-add .error span.verify-warning{
    padding-left: 0;
}

.add-p .add-p-main ul li.code-br span.loading{
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 5px;
    animation:loading 3s infinite;
    -webkit-animation:loading 3s infinite;
}
@keyframes loading {
    from {width:0;}
    to {width:24px;}
}

@-webkit-keyframes loading {/*Safari and Chrome*/
    from {width:0;}
    to {width:24px;}
}

/*购买主机*/
.buy-e{
    margin-left: 0;
    margin-right:0;
}
.buy-e .buy-e-t{
    position: relative;
    padding: 20px 30px;
}
.buy-e .buy-e-t .top{
    position: fixed;
    left: 46px;
    right: 46px;
    padding: 20px;
    border-top: 2px solid #DD3730;
    -moz-box-shadow: 0 5px 5px #d3d3d3;
    -webkit-box-shadow: 0 5px 5px #d3d3d3;
    box-shadow: 0 5px 5px #d3d3d3;
    z-index: 999;
    background: #fff;

}
.buy-e .buy-e-t .top .left{
    float: left;
    width: 65%;
    padding-right: 40px;
}
.buy-e .buy-e-t .top .right{
    float: left;
    height: 185px;
    width: 35%;
    margin-left: -2px;
    border-left: 2px dashed #E6E6E6;
    padding-left: 40px;
}
.buy-e .buy-e-t .top .left .title{

}
.buy-e .buy-e-t .top .left ul.selected{
    margin-top: 20px;
}
.buy-e .buy-e-t .top .left ul.selected li{
    float: left;
    min-width: 140px;
    padding-right: 10px;
    width: 25%;
    height:73px;
}
.buy-e .buy-e-t .top .left ul.selected li p span{
    width: 100%;
    display: inline-block;
    border: 1px solid #F6A623;
    padding-left: 10px;
    height: 26px;
    line-height: 26px;
}
.buy-e .buy-e-t .top .left ul.selected li p span i{
    float: right;
    margin-right: 5px;
    color: #F6A623;
    border-left: 1px solid #F6A623;
    padding-left: 5px;
    height: 25px;
    cursor: pointer;
}
.buy-e .buy-e-t .top .right .title{
    float: left;
}
.buy-e .buy-e-t .top .right .need-know{
    float: right;
}
.buy-e .buy-e-t .top .right .need-know a{
    color: #008BFA;
}
.buy-e .buy-e-t .top .right p{
    text-align: center;
}
.buy-e .buy-e-t .top .right p:nth-of-type(1){
    margin-top: 60px;
}
.buy-e .buy-e-t .top .right .unit{
    font-size: 24px;
    color: #9B9B9B;
    margin-right: 10px;
}
.buy-e .buy-e-t .top .right .price{
    font-size: 36px;
    color: #F57323;
}
.buy-e .buy-e-t .top .right button{
    margin-top: 20px;
    color: #fff;
    background: #DD3730;
    border-radius: 0;
    min-width: 150px;
}
.rp-card{
    position: relative;
   /* height:455px; */
}

.tableShow table th {
    text-align: left;
}

.buy-e-t-down{
    position: relative;
    z-index: 1;
    margin-top: 230px;
    border: 2px solid #f5f5f5;
}
.buy-e-t-down .border-bottom-style{
    border-bottom: 2px solid #EEEEEE;
}
.buy-e-t-down ul li{
    float:left;
}
.foot .foot-wrap{
    width:320px;
    margin-left: auto;
    margin-right: auto;
}
.foot-wrap .order-ok{
    width:180px;
    color:#fff;
    background-color:#DD3730;
}
.foot-wrap .order-cancel{
    width:120px;


}
.server-producter li {
    cursor: pointer;
}
.left-show{
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}
.guige .guigeWraper{
    width: 200px;
    text-align: center;
    cursor: pointer;
    /*border:1px solid #cccccc;*/
}
.guigeWraper .guige-title{
    height: 30px;
    line-height: 30px;
    /*   backgroud: #cccccc;*/
}
.padding-6{
    padding: 6px;
}
.guige-border-right-style{
    border-right:1px solid #cccccc;
}
.mirrors li{
    width: 43.4%;
}
.loadWraper{
    width: 76.6%;
}
.clearFixedr{
    clear: both;
}
.updownWraper{
    background-color: #ccc;
}

@media (max-width: 1199px){
    /*//<=1199的设备 */
    .mrp .top .title, .mrp .top .switch {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:1170px) and (min-width:991px) {
        .mrp .top .title{
            width:100%;
            max-width: 100%;
        }

        .mrp .add-rp {
            height: 491px;
         }

}
@media (max-width: 991px){
    /*//<=991的设备*/
    .mrp .top .power {
        width: 100%;
        float: left;
    }
    .mrp .no-host {
        height: 360px;
        text-align: center;
        border-bottom: 1px solid #d2d2d2;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 112px;
    }
    .mrp .process {
        border-bottom: 1px solid #e6e6e6;
        height: 270px;
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .mrp .add-rp {
        height: 528px;
    }
    .mrp .foot button {
            height: 80px;
    }
    .mrp .foot a {
            height: 80px;
    }

    .mrp .foot a .switch{
            height: 40px;
            display: block;
            position: relative;
            top: 4px;
    }

    .foot i{
            display: block;
    }

}
@media (max-width: 768px){
    /*//<=768的设备 */
    .mrp .process-top {
        text-align: left;
    }
    .margin-top-5-self{
        margin-top:.5rem;
    }
    .rp-card {
        position: relative;
        height: 602px;
    }

}

.width-50-load{
    width:25%;
}
.width-last-load{
    width: 23.6%;
}
.rc-slider-handle{
    border-radius: 0;
}
.areas-out Button{
    width:200px;
    border:1px solid #CCCCCC;
}
.times-show li Button,.purchases-show Button{
    background: #fff;
    border: 1px solid #ccc;
}
.u-input-number.u-input-group.simple .u-input-group-btn .icon-group .uf-arrow-down {
    font-size: 16px;
    line-height: 12px;
}
.mrp .middle .border-right-0{
    border-right: 0 !important;
}

.alrmModal .u-modal-dialog{
    width:80%;
}
.cpu{
    position: relative
}
.cpu-info{
    position: absolute;
    top: 0;
    left: 30px;
}


