.checkbox-input {
    position: relative;
    height: 18px;
    input {
        width: 14px;
        height: 14px;
        opacity: 0;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .checkbox-label {
        margin-left: 8px;
        cursor: pointer;
        font-size: 12px;
        font-family: 'Microsoft-YaHei';
        color: rgba(102,102,102,1);
        line-height: 18px;
    }
    .iconfont {
        font-size: 14px !important;
        position: absolute;
        left: -6px;
        top: 1px;
        color: #D9D9D9;
        line-height: 14px;
        &:hover, &.icon-yixuanzhongxiang, &.icon-fuxuanweiquanxuanxiang {
            color: #00B39E;
        }
        &.icon-fuxuan-jinyongyixuanze, &.icon-fuxuan-jinyongyixuanze:hover, &.icon-fuxuan-jinyong, &.icon-fuxuan-jinyong:hover {
            color: #F7F7F7;
        }
    }
}