.sidebar-contanier {
    background: #001529;
    width:256px;
    box-shadow:2px 0 6px rgba(0, 21, 41, 0.35);
    flex: 0 0 256px;
    max-width: 256px;
    min-width: 256px;
    width: 256px;
    min-height:100vh;
    transition:all  0.3s ease;
}
.u-navbar-side-container  {
    border:none;
    box-shadow: none;
}
.u-navbar-side-container li {
    background:none;
}
.u-navbar-side-container .u-menu .u-menu-item>a {
    color:rgba(255, 255, 255, 0.65);
    font-size:14px;
    display:block;
    transition:color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1)
}
.u-menu-inline .u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected {
    border:none;
}
.u-navbar-side-container .u-menu .u-menu-item:hover {
    cursor: pointer;
}
.u-navbar-side-container .u-menu .u-menu-item:hover>a {
    color:#fff;
}
.u-menu-submenu>.u-menu {
    background: none;
}
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title {
    font-size:14px;
    background:none;
}
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title a{
    color:rgba(255, 255, 255, 0.65);
    transition:color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1),
    border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1)
}
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title:hover a,
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title:hover uf,
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title:hover:after
{
    color:#fff;
}
.u-menu-submenu-open .u-menu.u-menu-sub.u-menu-inline {
    background:#000;
}
.logo-box {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}
.logo-box .logo{
    vertical-align: middle;
    height: 32px;
    font-size: 58px;
    color:red;
}
.logo-box a {
    color:#fff;
}
.logo-box h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.sidebar-expanded {
    width:80px;
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    overflow: hidden;
}
.sidebar-expanded .logo-box {
    padding:0;
    text-align: center;
}
.sidebar-expanded h1 {
    display:none;
}
.sidebar-expanded ul li span {
    display:none;
}
.sidebar-expanded ul li i {
    font-size:20px;
}