#content {
  background-color: #f0f0f0;
  min-height: 100%;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-100 {
  padding-left: 100px;
}


/* hack */

.u-table table {
  text-align: center;
}


/****/

.requiredMark {
  color: red;
  padding: 0 3px;
}

.markHolder {
  padding: 0 3px;
  visibility: hidden
}

.srv-name {
  overflow: hidden;
  margin-bottom: 25px;
}

.srv-desc {
  overflow: hidden;
  margin-bottom: 25px;
}

.srv-desc--content {
  float: left;
  height: 100px;
  width: 600px;
  padding: 15px;
  margin-right: 6000px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.srv-conf {
  overflow: hidden;
}

.srv-ctr {
  margin-left: 100px;
  padding: 50px 0;
}

.verify-class {
  float: left;
  width: 300px;
}

.float-right {
  float: right;
}

.u-tooltip.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.u-tooltip.fade.in {
  opacity: 1;
}


/*.configuration .u-select-dropdown{*/
  /*z-index: 2000;*/
/*}*/

